<h1>{{titulo}}</h1>
<nav>
    <ul>
        <li><a [routerLink]="['Peliculas']">INICIO</a></li>
        <li><a [routerLink]="['CrearPelicula']" >Añadir PELICULA</a></li>
        <li><a [routerLink]="['Contacto']" >Contacto</a></li>        
    </ul>

</nav>
<router-outlet></router-outlet>
<peliculas-footer></peliculas-footer>