<p>Peliculas List Component</p>
<p>Pelicula favorita</p>
<button (click)="onShowHide(true)" [class.showingData]="mostrarDatos===true">Mostrar datos</button>
<button (click)="onShowHide(false)" [class.showingData]="mostrarDatos===false">Ocultar datos</button>
<ul *ngIf="mostrarDatos===true">
                    <li>Titulo:{{pelicula.titulo}}</li>
                    <li>Director:{{pelicula.director}}</li>
                    <li>Año:{{pelicula.anio}}</li>
</ul>
<p>
    Cambiar titulo:
<input type="text" [(ngModel)]="pelicula.titulo" /> 
</p>
<hr/>
<p>Listado de peliculas:</p>
<ul>
    <ul *ngFor="#pelicula of peliculas" style="margin-bottom:20px">
        <li (click)="onCambiarPelicula(pelicula)" class="pelicula-title" [class.clicked]="peliculaElegida.titulo===pelicula.titulo">Titulo:<strong>{{pelicula.titulo}} </strong></li>
        <li>Director:<strong>{{pelicula.director}} </strong></li>
        <li *ngIf="pelicula.anio">Anio:<strong>{{pelicula.anio}} </strong></li>
        <li><a [routerLink]="['CrearPeliculaBasadaEnOtra',{titulo:pelicula.titulo,director:pelicula.director,anio:pelicula.anio}]" >Añadir pelicula basada en esta</a></li>
        <br>
    </ul>

</ul>