h1{
text-decoration:underline;
}
.showingData{
    display:none ;
}
.pelicula-title{
    cursor:pointer;
}
.pelicula-title:hover{
    text-decoration: underline;
}
.clicked{
    font-size:20px;
    color:green;
    font-family:arial;


}